/* Font Face Declarations */
@font-face {
  font-family: 'Crimson Text';
  src: url('/fonts/CrimsonText-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Crimson Text';
  src: url('/fonts/CrimsonText-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Averia Serif Libre';
  src: url('/fonts/AveriaSerifLibre-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Averia Serif Libre';
  src: url('/fonts/AveriaSerifLibre-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* @font-face {
  font-family: 'New Athena Unicode';
  src: url('/fonts/athena-unicode.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
} */

/* Global Styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}
